.project
.apt_generated
.settings
.DS_Store
.classpath
.idea
.factorypath
.gradle

/gen
/bin
/out
/generated
/build
/gradle

taxiPlus.iml
gradlew
gradlew.bat
local.properties

bin/R.txt
local.properties
/*.iml
